<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnu.dao.DBuserMapper">
	
	<select id="showUserCol" resultType="String">
		SHOW COLUMNS FROM mysql.user
	</select>
	
	<!-- 刷新权限 -->
	<update id="flushPrivs">
		flush privileges
	</update>
	
	<!-- 创建用户 -->
	<insert id="createUser">
		create user '${username}'@'${host}' identified by '${pwd}'
	</insert>
	
	<!-- 删除用户 -->
	<delete id="dropUser">
		drop user ${username}@${host}
	</delete>
	
	<!-- 查询所有用户 -->
	<select id="showUsers" resultType="com.zichang.bean.DBuser">
		select user,host,password from mysql.user
	</select>
	
	<!-- 根据user,host查询用户 -->
	<select id="selectUserByName" resultType="com.zichang.bean.DBuser">
		select user,host,password from mysql.user where user=#{username} and host=#{host}
	</select>
	
	<!-- 修改密码 -->
	<update id="updatePwd">
		alter user ${username}@'${host}' identified by '${pwd}';
	</update>
	
	<!-- 查询权限 -->
	<select id="showPrivs" resultType="String">
		show grants for `${username}`@`${host}`
	</select>
	
	<!-- 授权 -->
	<insert id="grant">
		<!-- grant DELETE on test.* to testUser@localhost; -->
		grant
		<foreach collection="privilege.privs" separator="," item="item" >
			${item}
		</foreach>
		on ${privilege.database}.${privilege.table} to ${privilege.username}@${privilege.host}
	</insert>
	
	<!-- 回收授权 -->
	<update id="revoke">
		<!-- REVOKE DELETE ON test.* FROM testUser@localhost; -->
		revoke
		<foreach collection="privilege.privs" separator="," item="item" >
			${item}
		</foreach>
		on ${privilege.database}.${privilege.table} from ${privilege.username}@${privilege.host}
	</update>
</mapper>